<form>
  <label for="title">Edit Title</label>
  {{input type="text" value=model.title}}

  <label for="author">Edit Author</label>
  {{input type="text" value=model.author}}

  <label for="title">Edit Content</label>
  {{textarea type="text" value=model.content}}

</form>
